.qr-scanner-result {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    width: 10%;
    height: 20%;
    bottom: 1%;
    right: 5%;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }